# SQL Assignment - uc288

Found a Python 2 and 3 compatibility cheat sheet online: http://python-future.org/compatible_idioms.html which I used to update the function by **@fedhere** to be compatible for Python 2 and 3.

In [1]:
try:
    # Python 3 packages
    from urllib.parse import urlparse, urlencode
    from urllib.request import urlopen, Request
    from urllib.error import HTTPError
except ImportError:
    # Python 2 packages
    from urlparse import urlparse
    from urllib import urlencode
    from urllib2 import urlopen, Request, HTTPError
    
# works for both python 2 and 3
from io import StringIO
import ast
import pandas as pd

In [2]:
SQL_SOURCE = 'https://uc288.carto.com/api/v2/sql?q='

In [3]:
def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    # added .encode('utf-8') to prevent errors in python 3
    data = urlencode({'format': format, 'q': query}).encode('utf-8')
    try:
        response = urlopen(source, data)
    # changed syntax to use 'as' keyword
    except HTTPError as e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return pd.read_csv(response)

## Task 1: Familiarize with SQL Clauses
* Sort data by start_station_id, tripduration (only checking trips with duration <= 3 hours
* Only show the top/last 10 records
* List all unique start_station_id values
* Aggregate functions:
    * Count the number of trips
    * Find the average / min / max trip duration

This query combines all the requested information and sorts based on the average trip duration per station.

In [4]:
sql_1 = '''SELECT DISTINCT start_station_id, 
COUNT(start_station_id) AS trip_counts,
AVG(tripduration) AS avg_tripduration,
MIN(tripduration) AS min_tripduration,
MAX(tripduration) AS max_tripduration
FROM citibike
WHERE tripduration <= 10800
GROUP BY start_station_id
ORDER BY start_station_id ASC, avg_tripduration ASC
LIMIT 10
'''

This shows the first 10 stations

In [5]:
queryCartoDB(sql_1)

,start_station_id,trip_counts,avg_tripduration,min_tripduration,max_tripduration
0,72,114,742.701754,107,2099
1,79,71,659.140845,149,1916
2,82,49,445.346939,138,1581
3,83,35,783.685714,73,2647
4,116,288,543.965278,66,2081
5,119,19,1044.789474,278,2167
6,120,17,979.882353,270,2131
7,127,209,710.846890,83,5776
8,128,247,664.206478,62,2875
9,137,96,697.364583,85,2316

In [6]:
sql_1_2 = '''SELECT DISTINCT start_station_id, 
COUNT(start_station_id) AS trip_counts,
AVG(tripduration) AS avg_tripduration,
MIN(tripduration) AS min_tripduration,
MAX(tripduration) AS max_tripduration
FROM citibike
WHERE tripduration <= 10800
GROUP BY start_station_id
ORDER BY start_station_id DESC, avg_tripduration DESC
LIMIT 10
'''

This shows the last 10 stations.

In [7]:
queryCartoDB(sql_1_2)

,start_station_id,trip_counts,avg_tripduration,min_tripduration,max_tripduration
0,3002,184,714.646739,79,7225
1,2023,91,771.978022,108,2454
2,2022,96,979.062500,107,2495
3,2021,141,738.815603,90,6592
4,2017,86,763.383721,109,2476
5,2012,256,714.519531,79,2026
6,2010,76,763.184211,167,2610
7,2009,107,777.794393,60,2765
8,2008,86,832.220930,94,3476
9,2006,79,1130.531646,90,3459

In [8]:
sql_1_3 = '''SELECT DISTINCT start_station_id, 
COUNT(start_station_id) AS trip_counts,
AVG(tripduration) AS avg_tripduration,
MIN(tripduration) AS min_tripduration,
MAX(tripduration) AS max_tripduration
FROM citibike
WHERE tripduration <= 10800
GROUP BY start_station_id
ORDER BY avg_tripduration DESC
LIMIT 10
'''

This shows the top 10 stations with the longest trip duration.

In [9]:
queryCartoDB(sql_1_3)

,start_station_id,trip_counts,avg_tripduration,min_tripduration,max_tripduration
0,471,32,1218.281250,60,2251
1,481,13,1143.923077,165,2270
2,2006,79,1130.531646,90,3459
3,2005,7,1130.285714,545,2513
4,2002,45,1116.711111,77,2426
5,431,28,1095.535714,184,2423
6,372,9,1083.333333,233,2160
7,532,50,1076.600000,198,2167
8,332,36,1067.111111,201,5930
9,119,19,1044.789474,278,2167

## Working with date/time
* Selecting trips started on Feb 2, 2015 only
* Selecting trips started on the weekends
* What are the average trip duration during weekends?
* Can we do the sam efor weekday?

### Trips started on Feb. 2, 2015 only

In [10]:
sql_2_1 = '''SELECT starttime, stoptime, start_station_id, 
end_station_id, tripduration, usertype, gender, birth_year
FROM citibike
WHERE starttime >= '2015-02-02 00:00:00'
AND starttime < '2015-02-03 00:00:00'
ORDER BY starttime
'''

In [11]:
queryCartoDB(sql_2_1)

,starttime,stoptime,start_station_id,end_station_id,tripduration,usertype,gender,birth_year
0,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,489,199,Subscriber,1,1992.0
1,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,349,418,Subscriber,2,1964.0
2,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,415,276,Subscriber,1,1974.0
3,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,237,420,Subscriber,2,1992.0
4,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,450,304,Subscriber,1,1968.0
5,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,391,622,Subscriber,1,1979.0
6,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,482,371,Subscriber,1,1963.0
7,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,2008,477,Subscriber,1,1982.0
8,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,423,743,Subscriber,2,1978.0
9,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,453,599,Subscriber,1,1956.0
10,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,236,345,Subscriber,1,1962.0
11,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,476,721,Subscriber,1,1980.0
12,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,376,182,Subscriber,1,1978.0
13,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,411,154,Subscriber,1,1997.0
14,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,491,435,Subscriber,1,1983.0
15,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,393,310,Subscriber,1,1993.0
16,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,470,1274,Subscriber,1,1964.0
17,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,174,642,Subscriber,1,1977.0
18,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,483,256,Subscriber,1,1973.0
19,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,442,334,Subscriber,1,1979.0
20,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,174,90,Subscriber,1,1989.0
21,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,405,203,Subscriber,1,1983.0
22,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,439,649,Subscriber,1,1981.0
23,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,448,319,Subscriber,1,1970.0
24,2015-02-02 00:27:00+00,2015-02-02 00:30:00+00,428,301,154,Subscriber,1,1961.0
25,2015-02-02 00:28:00+00,2015-02-02 00:37:00+00,331,195,550,Subscriber,2,1980.0
26,2015-02-02 00:29:00+00,2015-02-02 00:34:00+00,529,478,268,Subscriber,1,1990.0
27,2015-02-02 00:29:00+00,2015-02-02 00:31:00+00,421,366,153,Subscriber,1,1989.0
28,2015-02-02 00:31:00+00,2015-02-02 00:36:00+00,284,494,309,Subscriber,1,1982.0
29,2015-02-02 00:33:00+00,2015-02-02 00:35:00+00,383,252,138,Subscriber,1,1968.0
...,...,...,...,...,...,...,...,...
1429,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,380,722,Subscriber,1,1985.0
1430,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,491,274,Subscriber,1,1981.0
1431,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,515,951,Subscriber,1,1978.0
1432,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,521,276,Subscriber,1,1990.0
1433,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,434,426,Subscriber,1,1977.0
1434,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,229,578,Subscriber,1,1966.0
1435,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,2017,2621,Subscriber,1,1954.0
1436,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,449,621,Subscriber,1,1989.0
1437,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,477,323,Subscriber,1,1974.0
1438,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,482,393,Subscriber,1,1963.0
1439,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,497,597,Subscriber,1,1955.0
1440,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,462,244,Subscriber,1,1979.0
1441,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,127,1023,Subscriber,1,1977.0
1442,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,473,419,Subscriber,1,1986.0
1443,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,358,1429,Subscriber,1,1966.0
1444,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,477,676,Subscriber,1,1980.0
1445,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,489,879,Subscriber,1,1959.0
1446,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,432,593,Subscriber,1,1988.0
1447,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,164,839,Subscriber,1,1983.0
1448,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,368,560,Subscriber,1,1986.0
1449,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,511,165,Subscriber,1,1994.0
1450,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,489,813,Subscriber,2,1982.0
1451,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,507,764,Subscriber,1,1987.0
1452,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,397,2111,Subscriber,1,1979.0
1453,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,439,518,Subscriber,1,1983.0
1454,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,440,371,Subscriber,1,1977.0
1455,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,417,188,Subscriber,1,1988.0
1456,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,394,689,Subscriber,1,1988.0
1457,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,537,634,Subscriber,1,1961.0
1458,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,302,733,Subscriber,2,1976.0

### Trips that started on the weekends with the average duration

In [12]:
sql_2_2 = '''SELECT date_part('dow', starttime) as day_of_week,
AVG(tripduration) as avg_tripduration
FROM citibike
WHERE date_part('dow', starttime) IN (0, 6)
GROUP BY date_part('dow', starttime)'''

In [13]:
queryCartoDB(sql_2_2)

   day_of_week  avg_tripduration
0            0        638.149200
1            6        686.460825

In [14]:
sql_2_21 = '''SELECT AVG(tripduration) as avg_tripduration
FROM citibike
WHERE date_part('dow', starttime) IN (0, 6)'''

The average trip duration for the weekend.

In [15]:
queryCartoDB(sql_2_21)

   avg_tripduration  Unnamed: 1
0        662.942181         NaN

### Trips that started on the weekdays with the average duration

In [16]:
sql_2_3 = '''SELECT date_part('dow', starttime) as day_of_week,
AVG(tripduration) as avg_tripduration
FROM citibike
WHERE date_part('dow', starttime) > 0
AND  date_part('dow', starttime) < 6
GROUP BY date_part('dow', starttime)
ORDER BY day_of_week'''

In [17]:
queryCartoDB(sql_2_3)

   day_of_week  avg_tripduration
0            1        920.862234
1            2        767.224443
2            3        697.556559
3            4        623.396720
4            5        637.116968

In [18]:
sql_2_31 = '''SELECT AVG(tripduration) as avg_tripduration
FROM citibike
WHERE date_part('dow', starttime) > 0
AND  date_part('dow', starttime) < 6'''

The average trip duration for the weekdays.

In [19]:
queryCartoDB(sql_2_31)

   avg_tripduration  Unnamed: 1
0        681.052292         NaN

## Task 3 - Working with Space

* Showing the list of start station locations
    * Using GROUP BY
* Showing the number of trips started per station
    * … but only for stations within 500m of Time Square!
    * The coordinates of Time Square is (40.7577,-73.9857)

In [20]:
sql_3 = '''SELECT start_station_latitude, start_station_longitude, start_station_name,
    CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude, start_station_longitude)) AS the_geom_webmercator,
    MIN(cartodb_id) AS cartodb_id,
    COUNT(tripduration) AS numTrips
FROM citibike
WHERE ST_DWithin(CDB_LatLng(start_station_latitude, start_station_longitude)::geography, 
                 CDB_LatLng(40.7577,-73.9857)::geography,
                500)
GROUP BY start_station_latitude, start_station_longitude, start_station_name
ORDER BY numtrips'''

In [21]:
queryCartoDB(sql_3)

,start_station_latitude,start_station_longitude,start_station_name,the_geom_webmercator,cartodb_id,numtrips
0,40.755273,-73.983169,W 43 St & 6 Ave,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,1115,112
1,40.756800,-73.982912,W 45 St & 6 Ave,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,19,141
2,40.759291,-73.988597,W 45 St & 8 Ave,0101000020110F00001607D538556B5FC119A6CA6F41FC...,124,141
3,40.760647,-73.984427,Broadway & W 49 St,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,213
4,40.757570,-73.990985,W 42 St & 8 Ave,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,783,221
5,40.755136,-73.986580,Broadway & W 41 St,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,54,251
6,40.756405,-73.990026,W 41 St & 8 Ave,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,33,507

## Task 4 - Putting it all together

### Find the station that had the longest average trip duration during weekends and within 500m of TimeSquare!

In [22]:
sql_4_1 = '''SELECT start_station_latitude, start_station_longitude, start_station_name,
    CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude, start_station_longitude)) AS the_geom_webmercator,
    MIN(cartodb_id) AS cartodb_id,
    AVG(tripduration) AS avg_duration
FROM citibike
WHERE ST_DWithin(CDB_LatLng(start_station_latitude, start_station_longitude)::geography, 
                 CDB_LatLng(40.7577,-73.9857)::geography,
                500)
AND date_part('dow', starttime) IN (0, 6)
GROUP BY start_station_latitude, start_station_longitude, start_station_name
ORDER BY avg_duration DESC'''

In [23]:
queryCartoDB(sql_4_1)

,start_station_latitude,start_station_longitude,start_station_name,the_geom_webmercator,cartodb_id,avg_duration
0,40.760647,-73.984427,Broadway & W 49 St,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,42,1010.104167
1,40.759291,-73.988597,W 45 St & 8 Ave,0101000020110F00001607D538556B5FC119A6CA6F41FC...,124,762.931818
2,40.755136,-73.986580,Broadway & W 41 St,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,54,683.121212
3,40.756800,-73.982912,W 45 St & 6 Ave,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,19,675.400000
4,40.756405,-73.990026,W 41 St & 8 Ave,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,33,643.260274
5,40.755273,-73.983169,W 43 St & 6 Ave,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,1115,629.700000
6,40.757570,-73.990985,W 42 St & 8 Ave,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,783,579.142857

In [24]:
sql_4_11 = '''SELECT start_station_latitude, start_station_longitude, start_station_name,
    CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude, start_station_longitude)) AS the_geom_webmercator,
    date_part('dow', starttime) AS day_of_week, 
    MIN(cartodb_id) AS cartodb_id,
    AVG(tripduration) AS avg_duration
FROM citibike
WHERE ST_DWithin(CDB_LatLng(start_station_latitude, start_station_longitude)::geography, 
                 CDB_LatLng(40.7577,-73.9857)::geography,
                500)
AND date_part('dow', starttime) IN (0, 6)
GROUP BY start_station_latitude, start_station_longitude, start_station_name, date_part('dow', starttime) 
ORDER BY day_of_week, avg_duration DESC'''

In [25]:
queryCartoDB(sql_4_11)

,start_station_latitude,start_station_longitude,start_station_name,the_geom_webmercator,day_of_week,cartodb_id,avg_duration
0,40.759291,-73.988597,W 45 St & 8 Ave,0101000020110F00001607D538556B5FC119A6CA6F41FC...,0,124,799.722222
1,40.755136,-73.986580,Broadway & W 41 St,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,0,54,671.818182
2,40.756405,-73.990026,W 41 St & 8 Ave,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,0,33,647.483871
3,40.760647,-73.984427,Broadway & W 49 St,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,0,42,594.954545
4,40.756800,-73.982912,W 45 St & 6 Ave,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,0,19,555.000000
5,40.757570,-73.990985,W 42 St & 8 Ave,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,0,783,476.800000
6,40.755273,-73.983169,W 43 St & 6 Ave,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,0,1115,410.500000
7,40.760647,-73.984427,Broadway & W 49 St,0101000020110F000020D6742CE16A5FC112F4D73D73FC...,6,39625,1361.384615
8,40.756800,-73.982912,W 45 St & 6 Ave,0101000020110F00009BB87D02B76A5FC146C144E9E5FB...,6,41260,813.000000
9,40.755273,-73.983169,W 43 St & 6 Ave,0101000020110F0000F22A632FBE6A5FC1363A28CFADFB...,6,40490,775.833333
10,40.759291,-73.988597,W 45 St & 8 Ave,0101000020110F00001607D538556B5FC119A6CA6F41FC...,6,39443,737.461538
11,40.755136,-73.986580,Broadway & W 41 St,0101000020110F000004AF971C1D6B5FC17A48F3C1A8FB...,6,39430,688.772727
12,40.756405,-73.990026,W 41 St & 8 Ave,0101000020110F0000F55695027D6B5FC186E5BB69D7FB...,6,39470,640.142857
13,40.757570,-73.990985,W 42 St & 8 Ave,0101000020110F00003F9300B2976B5FC1B8B88F3102FC...,6,39781,636.000000

### Extra: 
**Create lines** for trips started from stations within 500m of Times Square and **lasted less than 2 hours**. The number of trips per each pair of stations are output as attributes of these lines.

In [26]:
sql_4_2 = '''SELECT start_station_latitude, start_station_longitude, start_station_name,
    end_station_latitude, end_station_longitude, end_station_name,
    ST_Makeline(CDB_TransformToWebmercator(CDB_LatLng(start_station_latitude, start_station_longitude)),
                   CDB_TransformToWebmercator(CDB_LatLng(end_station_latitude, end_station_longitude))) AS the_geom_webmercator,
    MIN(cartodb_id) AS cartodb_id,
    COUNT(tripduration) AS numTrips
FROM citibike
WHERE ST_DWithin(CDB_LatLng(start_station_latitude, start_station_longitude)::geography, 
                 CDB_LatLng(40.7577,-73.9857)::geography,
                500)
    AND tripduration < 7200
GROUP BY start_station_latitude, start_station_longitude, start_station_name, end_station_latitude, end_station_longitude, end_station_name'''

In [27]:
queryCartoDB(sql_4_2)

,start_station_latitude,start_station_longitude,start_station_name,end_station_latitude,end_station_longitude,end_station_name,the_geom_webmercator,cartodb_id,numtrips
0,40.756405,-73.990026,W 41 St & 8 Ave,40.704718,-74.009260,Pearl St & Hanover Square,0102000020110F000002000000F55695027D6B5FC186E5...,13694,3
1,40.757570,-73.990985,W 42 St & 8 Ave,40.760958,-73.967245,E 58 St & 3 Ave,0102000020110F0000020000003F9300B2976B5FC1B8B8...,12816,10
2,40.755136,-73.986580,Broadway & W 41 St,40.739713,-73.994564,W 18 St & 6 Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,21914,1
3,40.755136,-73.986580,Broadway & W 41 St,40.735243,-73.987586,E 16 St & Irving Pl,0102000020110F00000200000004AF971C1D6B5FC17A48...,22653,1
4,40.755273,-73.983169,W 43 St & 6 Ave,40.769155,-73.981918,Broadway & W 60 St,0102000020110F000002000000F22A632FBE6A5FC1363A...,20088,6
5,40.755136,-73.986580,Broadway & W 41 St,40.720196,-73.989978,Allen St & Rivington St,0102000020110F00000200000004AF971C1D6B5FC17A48...,3976,1
6,40.756405,-73.990026,W 41 St & 8 Ave,40.758281,-73.970694,E 53 St & Lexington Ave,0102000020110F000002000000F55695027D6B5FC186E5...,15127,4
7,40.755273,-73.983169,W 43 St & 6 Ave,40.751551,-73.993934,8 Ave & W 33 St,0102000020110F000002000000F22A632FBE6A5FC1363A...,36993,1
8,40.756405,-73.990026,W 41 St & 8 Ave,40.760660,-73.980420,W 51 St & 6 Ave,0102000020110F000002000000F55695027D6B5FC186E5...,14514,8
9,40.757570,-73.990985,W 42 St & 8 Ave,40.750977,-73.987654,Broadway & W 36 St,0102000020110F0000020000003F9300B2976B5FC1B8B8...,15100,1
10,40.757570,-73.990985,W 42 St & 8 Ave,40.695977,-73.990149,Cadman Plaza E & Tillary St,0102000020110F0000020000003F9300B2976B5FC1B8B8...,8505,1
11,40.756800,-73.982912,W 45 St & 6 Ave,40.764397,-73.973715,Grand Army Plaza & Central Park S,0102000020110F0000020000009BB87D02B76A5FC146C1...,13474,3
12,40.760647,-73.984427,Broadway & W 49 St,40.745497,-74.001971,9 Ave & W 22 St,0102000020110F00000200000020D6742CE16A5FC112F4...,19572,1
13,40.755136,-73.986580,Broadway & W 41 St,40.763406,-73.977225,W 56 St & 6 Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,8722,4
14,40.755136,-73.986580,Broadway & W 41 St,40.761628,-73.972924,E 56 St & Madison Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,11094,2
15,40.755136,-73.986580,Broadway & W 41 St,40.756458,-73.993722,W 39 St & 9 Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,25560,2
16,40.757570,-73.990985,W 42 St & 8 Ave,40.759345,-73.967597,E 56 St & 3 Ave,0102000020110F0000020000003F9300B2976B5FC1B8B8...,23971,1
17,40.755136,-73.986580,Broadway & W 41 St,40.760193,-73.991255,9 Ave & W 45 St,0102000020110F00000200000004AF971C1D6B5FC17A48...,15951,1
18,40.755136,-73.986580,Broadway & W 41 St,40.728419,-73.987140,St Marks Pl & 2 Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,37805,1
19,40.757570,-73.990985,W 42 St & 8 Ave,40.762288,-73.983362,Broadway & W 51 St,0102000020110F0000020000003F9300B2976B5FC1B8B8...,10260,4
20,40.759291,-73.988597,W 45 St & 8 Ave,40.766953,-73.981693,Broadway & W 58 St,0102000020110F0000020000001607D538556B5FC119A6...,13612,3
21,40.755273,-73.983169,W 43 St & 6 Ave,40.744449,-73.983035,E 30 St & Park Ave S,0102000020110F000002000000F22A632FBE6A5FC1363A...,5749,3
22,40.755136,-73.986580,Broadway & W 41 St,40.750020,-73.969053,1 Ave & E 44 St,0102000020110F00000200000004AF971C1D6B5FC17A48...,8481,2
23,40.757570,-73.990985,W 42 St & 8 Ave,40.770513,-73.988038,W 59 St & 10 Ave,0102000020110F0000020000003F9300B2976B5FC1B8B8...,13230,5
24,40.756800,-73.982912,W 45 St & 6 Ave,40.763707,-73.985162,8 Ave & W 52 St,0102000020110F0000020000009BB87D02B76A5FC146C1...,20791,2
25,40.756405,-73.990026,W 41 St & 8 Ave,40.756014,-73.967416,E 52 St & 2 Ave,0102000020110F000002000000F55695027D6B5FC186E5...,17032,2
26,40.756405,-73.990026,W 41 St & 8 Ave,40.737262,-73.992390,E 16 St & 5 Ave,0102000020110F000002000000F55695027D6B5FC186E5...,15276,2
27,40.756405,-73.990026,W 41 St & 8 Ave,40.759711,-73.974023,E 53 St & Madison Ave,0102000020110F000002000000F55695027D6B5FC186E5...,39770,1
28,40.756405,-73.990026,W 41 St & 8 Ave,40.748901,-73.976049,E 39 St & 3 Ave,0102000020110F000002000000F55695027D6B5FC186E5...,13172,7
29,40.756405,-73.990026,W 41 St & 8 Ave,40.740259,-73.984092,Lexington Ave & E 24 St,0102000020110F000002000000F55695027D6B5FC186E5...,481,9
...,...,...,...,...,...,...,...,...,...
542,40.756800,-73.982912,W 45 St & 6 Ave,40.742354,-73.989151,Broadway & W 24 St,0102000020110F0000020000009BB87D02B76A5FC146C1...,25697,1
543,40.757570,-73.990985,W 42 St & 8 Ave,40.750200,-73.990931,W 33 St & 7 Ave,0102000020110F0000020000003F9300B2976B5FC1B8B8...,12273,1
544,40.755136,-73.986580,Broadway & W 41 St,40.762272,-73.987882,W 49 St & 8 Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,41648,1
545,40.760647,-73.984427,Broadway & W 49 St,40.740259,-73.984092,Lexington Ave & E 24 St,0102000020110F00000200000020D6742CE16A5FC112F4...,7354,1
546,40.757570,-73.990985,W 42 St & 8 Ave,40.728145,-73.990214,Shevchenko Pl & E 7 St,0102000020110F0000020000003F9300B2976B5FC1B8B8...,6492,1
547,40.757570,-73.990985,W 42 St & 8 Ave,40.734546,-73.990741,Broadway & E 14 St,0102000020110F0000020000003F9300B2976B5FC1B8B8...,42207,1
548,40.755273,-73.983169,W 43 St & 6 Ave,40.748549,-73.988084,Broadway & W 32 St,0102000020110F000002000000F22A632FBE6A5FC1363A...,36956,1
549,40.755273,-73.983169,W 43 St & 6 Ave,40.734546,-73.990741,Broadway & E 14 St,0102000020110F000002000000F22A632FBE6A5FC1363A...,20128,1
550,40.757570,-73.990985,W 42 St & 8 Ave,40.748549,-73.988084,Broadway & W 32 St,0102000020110F0000020000003F9300B2976B5FC1B8B8...,14271,1
551,40.755136,-73.986580,Broadway & W 41 St,40.756405,-73.990026,W 41 St & 8 Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,36547,1
552,40.756405,-73.990026,W 41 St & 8 Ave,40.745497,-74.001971,9 Ave & W 22 St,0102000020110F000002000000F55695027D6B5FC186E5...,15098,4
553,40.755136,-73.986580,Broadway & W 41 St,40.750664,-74.001768,10 Ave & W 28 St,0102000020110F00000200000004AF971C1D6B5FC17A48...,30188,1
554,40.755273,-73.983169,W 43 St & 6 Ave,40.752062,-73.981632,E 40 St & 5 Ave,0102000020110F000002000000F22A632FBE6A5FC1363A...,35736,1
555,40.755136,-73.986580,Broadway & W 41 St,40.759923,-73.976485,W 52 St & 5 Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,23159,1
556,40.759291,-73.988597,W 45 St & 8 Ave,40.760094,-73.994618,W 43 St & 10 Ave,0102000020110F0000020000001607D538556B5FC119A6...,5141,4
557,40.755136,-73.986580,Broadway & W 41 St,40.744023,-73.976056,E 33 St & 2 Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,8767,3
558,40.757570,-73.990985,W 42 St & 8 Ave,40.747348,-73.997236,W 26 St & 8 Ave,0102000020110F0000020000003F9300B2976B5FC1B8B8...,17867,1
559,40.759291,-73.988597,W 45 St & 8 Ave,40.756660,-73.976684,E 48 St & Madison Ave,0102000020110F0000020000001607D538556B5FC119A6...,26222,1
560,40.755273,-73.983169,W 43 St & 6 Ave,40.750200,-73.990931,W 33 St & 7 Ave,0102000020110F000002000000F22A632FBE6A5FC1363A...,12681,7
561,40.755136,-73.986580,Broadway & W 41 St,40.727791,-73.985649,St Marks Pl & 1 Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,16033,3
562,40.759291,-73.988597,W 45 St & 8 Ave,40.753231,-73.970325,E 47 St & 2 Ave,0102000020110F0000020000001607D538556B5FC119A6...,10752,1
563,40.756800,-73.982912,W 45 St & 6 Ave,40.743943,-73.979661,E 31 St & 3 Ave,0102000020110F0000020000009BB87D02B76A5FC146C1...,34407,1
564,40.760647,-73.984427,Broadway & W 49 St,40.765909,-73.976342,Central Park S & 6 Ave,0102000020110F00000200000020D6742CE16A5FC112F4...,4353,1
565,40.759291,-73.988597,W 45 St & 8 Ave,40.771522,-73.990541,11 Ave & W 59 St,0102000020110F0000020000001607D538556B5FC119A6...,27883,3
566,40.756800,-73.982912,W 45 St & 6 Ave,40.765265,-73.981923,Broadway & W 55 St,0102000020110F0000020000009BB87D02B76A5FC146C1...,42548,1
567,40.755136,-73.986580,Broadway & W 41 St,40.746745,-74.007756,W 20 St & 11 Ave,0102000020110F00000200000004AF971C1D6B5FC17A48...,11191,1
568,40.755136,-73.986580,Broadway & W 41 St,40.726218,-73.983799,E 7 St & Avenue A,0102000020110F00000200000004AF971C1D6B5FC17A48...,25856,1
569,40.756405,-73.990026,W 41 St & 8 Ave,40.738274,-73.987520,E 20 St & Park Ave,0102000020110F000002000000F55695027D6B5FC186E5...,6739,1
570,40.755136,-73.986580,Broadway & W 41 St,40.740343,-73.989551,Broadway & E 22 St,0102000020110F00000200000004AF971C1D6B5FC17A48...,6740,4
571,40.755273,-73.983169,W 43 St & 6 Ave,40.760647,-73.984427,Broadway & W 49 St,0102000020110F000002000000F22A632FBE6A5FC1363A...,16327,2